{% extends 'base.html.twig' %}

{% block title %}Tache index{% endblock %}

{% block body %}
    <h1>Tache index</h1>

    {% include 'components/atoms/h1.html.twig' with {
        h1_text: 'Bonjour H1',
    } %}

    {% include 'components/atoms/h2.html.twig' with {
        h2_text: 'Bonjour H2 Uncomplete',
        h2_modifiers: ['uncomplete'],
    } %}

    {% include 'components/atoms/h2.html.twig' with {
        h2_text: 'Bonjour H2 complete',
        h2_modifiers: ['complete'],
    } %}

    {% include 'components/atoms/h3.html.twig' with {
        h3_text: 'Bonjour H3',
    } %}

    {% include 'components/atoms/p.html.twig' with {
        p_text: 'Bonjour un paragraphe Lorem Ipsum',
    } %}

    {% include 'components/atoms/button.html.twig' with {
        button_text: '+',
    } %}

    {% include 'components/atoms/i.html.twig' %}

    {% include 'components/atoms/a.html.twig' with {
        a_modifiers: ['uncomplete'],
    } %}

    {% include 'components/atoms/a.html.twig' with {
        a_modifiers: ['complete'],
    } %}

    {% include 'components/molecules/header.html.twig' %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Priority</th>
                <th>Checked</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tache in taches %}
            <tr>
                <td>{{ tache.id }}</td>
                <td>{{ tache.title }}</td>
                <td>{{ tache.priority }}</td>
                <td>{{ tache.checked ? 'Yes' : 'No' }}</td>
                <td>{{ tache.date ? tache.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_tache_show', {'id': tache.id}) }}">show</a>
                    <a href="{{ path('app_tache_edit', {'id': tache.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_tache_new') }}">Create new</a>
{% endblock %}
